<%= content_for :header_title do %>
    About us 
<% end %>
<%= content_for :header_sub_title do %>
    Who we are
 <% end %>


<p>Instaparking es una empresa orientada al servicio de nuestros clientes y ofrece espacios de estacionamiento en los distritos de la capital.</p>
<p>En Instaparking nos preocupamos por ofrecer al cliente opciones de estacionamiento que satisfagan sus necesidades tales como comodidad, seguridad.</p>
<p>Accesos especiales para personas discapacitadas. Cercania a zonas comerciales, bancarias o de descanso.</p>






