<%= content_for :header_title do %>
    About us 
<% end %>
<%= content_for :header_sub_title do %>
    Who we are
 <% end %>

<h3>¿Quiénes somos?</h3>
<p align=justify>
    Somos una compañía especializada en brindar servicio de parking, así como la operación y administración de estacionamientos públicos y plazas comerciales. Actualmente, rendimos nuestros servicios a una extensa gama de negocios en Lima y Callao como restaurantes, centros nocturnos y eventos masivos. Asimismo atendemos festejos y eventos privados dándole un toque de distinción y ofreciendo a cada uno de nuestros clientes un servicio confiable y seguro desde su llegada hasta su partida.
</p>
<h4>Misión:</h4>
<p align=justify>
    Ofrecer excelencia en nuestro servicio de alquiler de parking. Brindar al cliente una operación y administración honesta de sus estacionamientos que supere a la competencia y exceda sus expectativas. Partiendo con una imagen profesional, limpia, confiable y amable. La atención al detalle lo es todo, por eso estamos comprometidos a brindar un servicio único y personalizado a cada unos de nuestros clientes, enfocados en los estándares más altos de calidad y profesionalismo.
</p>
<h4>Visión:</h4>
<p align=justify>
Posicionarnos como líderes dentro de nuestro ramo y ser reconocidos como una empresa confiable, segura y comprometida con cada uno de sus clientes y en cada uno de nuestros variados servicios.
</p>
</p>
<h4>Valores:</h4>
<p align=justify>
Creemos firmemente que los valores que nos han forjado como empresa son: Seguridad, Responsabilidad, Respeto y Honestidad. Diariamente nos esforzamos por transmitir valores a cada uno de nuestros colaboradores en todos los niveles. Estamos convencidos que nuestros valores juegan un papel muy importante en el mantenimiento y crecimiento de nuestra empresa.
</p>








